<!DOCTYPE html>
<html>
    <head>
        <title>错误信息 - ${title}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="${ieVersion}" />
    </head>
    <body>
        <div style="font-size:12px; line-height:1.5">
            <b>出错了。</b>
            <br/><br/>
            <b>说明：</b>HTTP 500。很抱歉，服务器在处理您的请求的时候，发生了一个错误，我们已予以记录，并将尽快解决。如果此问题仍然存在，请与技术工程师联系。
        </div>
        <script>
            if (top.hideMask) top.hideMask();
        </script>
    </body>
</html>