<!--
        * 合同文件新建页面
        * 
        * @作者 陈开敏
        * @创建时间 2014-05-23 10:04:30
        *
-->
<!DOCTYPE html>
<html>
    <head>
        <title>新建合同文件 - ${title}</title>
        <#include "/WEB-INF/head/head_css.htm" >
    </head>
    <body class="easyui-layout" style="visibility:hidden">
        <div data-options="region:'center',border:false" style="padding:0px;">
            <form id="contractfile" style="margin:10px; padding:0; visibility:hidden" method="post" autoTypeset="true" columnSize="2">
                <input type="hidden" id="id" name="id" />
	            <span class="property">
            		<label class="label block" for="name">文件名</label>
            		<input type="text" id="name" name="name" class="input text easyui-validatebox-disable" style="" data-options="validType:'text[1,127]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="type">文件类型</label>
            		<input type="text" id="type" name="type" class="input text easyui-validatebox-disable" style="" data-options="validType:'text[1,127]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="fileSize">文件大小</label>
            		<input type="text" id="fileSize" name="fileSize" class="input number easyui-validatebox-disable" style="" data-options="validType:'text[1,11]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="path">存储路径</label>
            		<input type="text" id="path" name="path" class="input text easyui-validatebox-disable" style="" data-options="validType:'text[1,127]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="version">版本</label>
            		<input type="text" id="version" name="version" class="input number easyui-validatebox-disable" style="" data-options="validType:'text[1,11]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="content">文件内容</label>
            		<input type="text" id="content" name="content" class="input text easyui-validatebox-disable" style="" data-options="validType:'text[1,2000]'" />	
            	</span>
	            <span class="property">
            		<label class="label block" for="merchantId">商户编号</label>
            		<input type="text" id="merchantId" name="merchantId" class="input number easyui-validatebox-disable" style="" data-options="validType:'text[1,11]'" />	
            	</span>
            </form>
        </div>
        <div data-options="region:'south',border:false" style="height:35px;text-align:right; padding:5px 5px 0 0;background-color:#efefef;">
            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true">保存</a>
            <a id="btnAppend" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true">保存并新建</a>
            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true">关闭</a>
        </div>
        <#include "/WEB-INF/head/head_js.htm" >
        <script type="text/javascript">
            $(function(){
                //解析页面
                $.parser.parse();
                $('body').css({ visibility: 'visible' });
                var t = $('#contractfile');
                t.domain('load', {
                    url: '${requestContext.contextPath}/management/contractfile/load/-1',
                    onLoadSuccess: function(data, status, XHR) {
                        $('#btnSave')[0].onclick = function() { save('save'); }
                        $('#btnAppend')[0].onclick = function() { save('append'); }
                        $('#btnSave,#btnAppend').linkbutton('enable');
                    },
                    onLoadComplete: function() {
                        $('#btnClose').linkbutton('enable')[0].onclick = function() { $(parent).domain('closeDialog'); }
                    }
                });
                
                function save(action) {
                	if (t.form('validate') == false) {
                		return false;
                	}
                    var data = t.domain('collect');
                    $('#btnSave,#btnAppend,#btnClose').linkbutton('disable');
                    t.domain('create', {
                        title : '合同文件',
                        url: '${requestContext.contextPath}/management/contractfile/create',
                        data: data,
                        onBeforeLoad: function(XHR) {
                        },
                        onLoadSuccess: function(data, status, XHR) {
                            $('#btnSave,#btnAppend,#btnClose').linkbutton('enable');
                            if (action == 'save') {
                                $(parent).domain('closeDialog');
                            }
                            else if (action == 'append') {
                                var defaults = $.extend({}, data, {
					                name: ""	
					                ,type: ""	
					                ,fileSize: -1	
					                ,path: ""	
					                ,version: -1	
					                ,content: 	
					                ,merchantId: -1	
                                });
                                t.domain('load', defaults);
                            }
                        },
                        onLoadError: function(XHR, statusText, errorThrow) {
                        	$('#btnSave,#btnAppend,#btnClose').linkbutton('enable');
                        }
                    });
                }
            });
        </script>
    </body>
</html>
